@import "../colors.scss";

@mixin linkStyle {
  color: $red-color;
  font-weight: 700;
  cursor: pointer;
  text-decoration: underline;

  &.uppercase {
    text-transform: uppercase;
  }

  &.noUnderline {
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
  }
}
