@import "../fonts";

.toastContainer {
  .toast {
    border-radius: 10px;
    > div:first-child {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    .innerToast {
      font-size: 1.2em;
      font-family: $serif-font;
    }
    box-shadow: none;
  }
}
