@import "../colors.scss";

.link {
  color: $red-color;
  font-weight: 700;
  cursor: pointer;

  &.uppercase {
    text-transform: uppercase;
  }

  &.noUnderline {
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
  }
}
