@import "../colors.scss";

.topBar {
  width: 100%;
  margin-bottom: 15px;
  border-bottom: 2px solid $black-color;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;

  .logoContainer {
    order: 1;
    flex: 0 1 auto;
    margin-left: auto;
    margin-right: auto;
    .logoLink {
      display: block;
      .logo {
        width: 100%;
        max-width: 447px;
        height: auto;
      }
    }
  }

  .spacerElement {
    height: 1px;
    flex: 0 10 auto;
  }

  .menuContainer {
    order: 2;
    flex: 0 1 auto;
    align-self: center;
    margin-left: auto;
    margin-right: auto;

    .linkListElement {
      font-size: 1.2em;
    }
  }
}
