@import "../fonts.scss";
@import "../colors.scss";
@import "~normalize-scss/sass/normalize";
@import "~react-s-alert/dist/s-alert-default.css";
@import "~react-s-alert/dist/s-alert-css-effects/slide.css";

.bodyContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  .body {
    font-family: $serif-font;
    font-size: 1.2em;
    width: 100%;
    max-width: 960px;
    flex: 0 1 auto;

    .loadingOverlay {
      margin-left: auto;
      margin-right: auto;
    }
    .content {
      margin-bottom: 25px;
    }
  }
}
