@import "../common-components/colors.scss";

.contactForm {
  text-align: center;

  .textInput {
    width: 100%;
    max-width: 500px;
    margin-top: 15px;
  }

  .recaptcha {
    div {
      margin-left: auto;
      margin-right: auto;
    }
    padding-top: 15px;
    margin-bottom: 10px;
  }

  .recaptchaErrorText {
    font-size: 0.8em;
    color: $error-color;
    margin-bottom: 10px;
  }
}