.contactForm {
  text-align: center;
  .textInput {
    width: 100%;
    max-width: 500px;
    margin-bottom: 10px;
  }
  .recaptcha {
    div {
      margin-left: auto;
      margin-right: auto;
    }
    margin-bottom: 10px;
  }
}
