@import "../common-components/colors.scss";

.question {
  font-weight: bold;
  font-style: italic;
  margin-top:20px;
}

.question, .answer {
  text-align:left;
}

.figure {
  background-color: $light-grey-color;
  padding-left: 3px;
  padding-right: 3px;
  border: 1px solid $grey-color;
  font-weight: bold;
}
