@import "../common-components/fonts";
@import "../common-components/utils";

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;

  .explanation {
    flex: 0 1 auto;
    max-width: 608px;
    margin-left: auto;
    margin-right: auto;

    @include respond-to(915px) {
      margin-left: unset;
      margin-right: unset;
      max-width: 300px;
    }

    .comicTeaserList {
      text-align: left;
      font-size: 0.9em;
      font-style: italic;

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: flex-start;

      .comicTeaserListItem {
        flex: 0 1 auto;
        margin: 3px;
        font-weight: normal;
      }
    }
  }
  .emailExampleContainer {
    max-width: 608px;
    flex: 0 1 auto;
    .emailExample {
      width: 100%;
      max-width: 608px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
    margin-left: auto;
    margin-right: auto;
    @include respond-to(915px) {
      margin-left: unset;
      margin-right: unset;
    }
  }
}

.extraMargin {
  margin-top: 15px;
  margin-bottom: 15px;
}
