@import "../../common-components/colors";

.syndicationContainer {
  background-color: $light-grey-color;
  width: 120px;
  height: 200px;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  cursor: pointer;
  border-radius: 23px;
  position: relative;

  .syndicationLogo {
    border-radius: 50px;
    margin: 10px;
    flex: 0 1 auto;
    position: absolute;
  }

  .syndicationTitleText {
    flex: 0 1 auto;
    border-radius: 13px;
    width: 108px;
    text-align: center;
    background-color: white;
    padding-left: 6px;
    padding-right: 6px;
  }

  &.selected {
    background-color: $red-color;
    .syndicationTitleText {
      background-color: lighten($red-color, 55);
    }
    &.isDragging {
      opacity: 0.5;
    }
  }

  .dragIcon {
    position: relative;
    background-color: lighten($red-color, 55);
    border-radius: 13px;
    margin-left: 0;
    margin-right: auto;
    color: $dark-grey-color;
    width: 26px;
    height: 26px;
    text-align: center;
    cursor: grab;
    &:not(.isDragIconVisible) {
      visibility: hidden;
    }
  }
}
