.outerButtonContainer {
  text-align: center;

  &.isSticky {
    position: sticky;
    bottom: 0;
  }

  .faderElement {
    background: linear-gradient(
                    to top,
                    white,
                    rgba(255, 255, 255, 0)
    );
    height: 20px;
    width: 100%;
  }

  .innerButtonContainer {
    background-color: white;
    .button {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}
