@import "../../common-components/colors";

.newsItemContainer {

  // Add some extra margin because of https://github.com/One-com/react-truncate/issues/16.
  margin-right: 10px;

  .newsItem {
    .headline {
      margin-top: 20px;
      margin-bottom: 10px;
    }

    .date {
      .dateLink {
        color: $dark-grey-color;
        font-style: italic;
        font-weight: normal;
      }
      padding-bottom: 10px;
    }

    .content {
      &.previewOnly {
        padding-left: 20px;
        border-left: 1px;
        border-left-style: solid;
        border-left-color: $dark-grey-color;

        // Needed because of https://github.com/One-com/react-truncate/issues/16.
        white-space: nowrap;
      }
    }

    .readMore {
      font-style: italic;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  > .newsItem.isNotLastItem {
    padding-bottom: 30px;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: $dark-grey-color;
  }
}
