@import "../../common-components/colors";

.syndicationContainer {
  background-color: $light-grey-color;
  width: 120px;
  height: 200px;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  cursor: pointer;
  border-radius: 1em;

  .syndicationLogo {
    border-radius: 50px;
    margin: 10px;
    flex: 0 1 auto;
  }

  .syndicationTitleText {
    flex: 0 1 auto;
    border-radius: 1em;
    width: 100%;
    text-align: center;
    background-color: white;
    padding-left: 3px;
    padding-right: 3px;
  }

  &.selected {
    background-color: $red-color;
    .syndicationTitleText {
      background-color: lighten($red-color, 40);
    }
  }
}
