$dark-red-color: #a40004;
$red-color: #ba0106;
$black-color: #000000;
$white-color: #ffffff;
$grey-color: #cccccc;
$success-color: #1bba4b;
$warning-color: #dad623;
$error-color: $red-color;
$info-color: #0007c9;
