$red-color: #ba0106;
$black-color: #000000;
$white-color: #ffffff;
$light-grey-color: #eeeeee;
$grey-color: #cccccc;
$dark-grey-color: #727272;
$success-color: #1bba4b;
$warning-color: #dad623;
$error-color: $red-color;
$info-color: #0007c9;
