.comicGridContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;

  .comicContainer {
    flex: 0 1 auto;
  }
}
